<% include header %>
<!-- Header-->
<header class="bg-dark py-1 mb-5">
  <div class="container px-4 px-lg-5 my-2">
    <div class="text-center text-white">
      <h1 class="display-6 fw-bold"><%= __('Private zone') %></h1>
      <p class="lead fw-normal text-white-50 mb-0"><%= __('Welcome') %> <%= email %></p>
    </div>
  </div>
</header>
<!-- About section-->
<section id="about">
  <div class="container px-4 mb-5">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2><%= __('Your adverts') %></h2>
        <button
          type="button"
          class="btn btn-success"
          style="background-color: #a0d8b3; border-color: #a0d8b3"
        >
          <a href="/create-advert" class="text-decoration-none text-reset"
            ><%= __('Create advert') %> <i class="bi bi-pencil-square"></i>
          </a>
        </button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col"><%= __('Name') %></th>
              <th scope="col"><%= __('Price') %></th>
              <th scope="col"><%= __('Tags') %></th>
              <th scope="col"><%= __('Image') %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% adverts.forEach( advert => { %>
            <tr>
              <th scope="row"><%= advert._id %></th>
              <td><%= advert.nombre %></td>
              <td><%= advert.precio %> €</td>
              <td><%= advert.tags.join(', ') %></td>
              <td>
                <img
                  src="<%= advert.imagen %>"
                  alt="product imagen"
                  width="100px"
                />
              </td>
              <td>
                <button type="button" class="btn btn-danger">
                  <a
                    href="javascript:void(0)"
                    onclick="deleteAdvert('<%= advert.nombre %>', '<%= advert._id %>')"
                    class="text-decoration-none text-white"
                    ><%= __('Delete') %> <i class="bi bi-x-circle-fill"></i>
                  </a>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% include footer %>
<script>
  const deleteAdvert = (advertName, advertID) => {
    if (
      confirm(
        `You will delete the advert ${advertName}, this operation cannot be undone.`
      )
    ) {
      window.location.href = `/delete-advert/${advertID}`;
    }
  };
</script>
